<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Test Automation Application Test Suite" parallel="methods" thread-count="2">
	<listeners>
		<listener class-name="com.pta.qa.util.CustomListener"/>
		<listener class-name="com.pta.qa.util.MyTransformer"/>
	</listeners>
	<test name="Practice Test Automation Application Test Cases">
		<classes>
			<class name="com.pta.qa.ui.testcases.ContactPageTest">
				<methods>
					<include name="contactPageTitleTest"/>
					<include name="contactPageTitleTestFailed"/>
				</methods>							
			</class>						
		</classes>
	</test>
</suite>